.Header{
    background-color: #151515;
    width:100%;
    & .header_top{
        padding:0 4rem;
        @include Flex(space-between, center);
        width:100%;
        color:#fff; 
        padding-top:2rem;
        padding-bottom:2rem;
        border-bottom: 1px solid rgba(247, 244, 244, 0.151);
        & .socials{ 
            & ul{
                @include Flex(stretch, center);
                & li{
    
                    &:not(:last-child){
                        margin-right:1rem;
                    }
                    & .icon{
                        font-size: 3rem;
                        transition: all .5s;
                    }
                    &:hover .icon{
                        color:#ff5722;
                    }
                }
            }
        }
        & .company_name{
            font-size: 5rem;
            letter-spacing: .5rem;
            text-transform: capitalize;
            @media screen and (max-width:818px){
                font-size: 3rem;
            }
        }
    }
    & .header_bottom{
        width:100%;
        padding:0 4rem;
        color:#fff;
        @include Flex(center, stretch);
        margin-top: 2rem;
        & ul{
            @include Flex();
            @media screen and (max-width:740px){
                    width:100%;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    flex-wrap: nowrap;
                    -ms-overflow-style: none;
                     /* for Internet Explorer, Edge */
                    scrollbar-width: none;
                &::-webkit-scrollbar{
                    display:none;
                }
            }
            & li{
                font-size:2rem;
                text-transform: capitalize;
                color:grey;
                transition: all .5s;
                @media screen and (max-width:740px){
                    font-size:1.8rem;
                    white-space: nowrap;
                }
                &:not(:last-child){
                    margin-right:2.5rem;
                }
                &.home{
                    color:#fff;
                }
                &:hover{
                    color:#fff;
                    cursor: pointer;
                }
            }
        }
    }
    & .gallery_parent{
        & .gallery{
            margin-top: 4rem;
            @include Flex(center, stretch);
            & .gall_container{
                width:100%;
                height:100vh;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                position:relative;
                &::after{
                    content:"";
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    background-color: rgba(0,0,0,.1);
                }
                & img{
                    width:100%;
                    height:100%;
                }
            }
            & .desc{
                position:absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                z-index:3;
                @include Flex(stretch, center);
                flex-direction: column;
                width: 100%;
                color:#fff;
                & h1{
                    margin-bottom: 1rem;
                    font-family: var(--font-subheaders), serif;
                    font-weight: 700;
                    font-size: 2rem;
                    text-transform: uppercase;
                    letter-spacing: .6rem;
                    color: var(--main);
                    @media screen and (max-width:888px){
                        font-size:1.5rem;
                    }
                }
                & h2{
                    font-size: 5rem;
                    font-weight: 900;  
                    text-transform: capitalize;
                    margin-bottom: 4rem;
                    text-align: center;
                    line-height: 1;
                    font-family: var(--font-subheaders), serif;
                    max-width: 70%;
                    @media screen and (max-width:888px){
                        font-size: 3.5rem;
                        max-width: 85%;
                        padding:0 4rem;
                    }
                }
                & p{
                    max-width: 60rem;
                    width: 100%;
                    text-align: center;
                    color:var( --white-text);
                    font-size: 1.8rem;
                    font-family: var(--font-subheaders), serif;
                }
    
                  
                    & button{
                        @include Flex(center, center);
                        padding: 1.8rem 4rem;
                        font-size: 1.4rem;
                        min-width:30rem;
                        max-width:30rem;
                        border-radius: 2rem;
                        border:none;
                        cursor: pointer;
                        color:#fff;
                        background: var(--main);
                    }
            }
        }
        & .swiper{
            & .swiper-button-prev,
            & .swiper-button-next
            {
                width:6rem;
                height:6rem;
                border-radius: 50%;
                background-color: #fff;
                display:flex;
                justify-items: center;
                align-items: center;
                @media screen and (max-width:562px){
                    width:4rem;
                    height:4rem;
                }
                &:after{
                    font-size: 2.5rem;
                    color:#000;
                    @media screen and (max-width:562px){
                        font-size: 1.5rem;
                    }
                }
            }
            & .swiper-wrapper{
                & .swiper-slide-active{
                    &  .gallery{
                        & .gall_container{
                        & img{
                            animation-name: animateHeader;
                            animation-duration: 10s;
                        }
                        }
                        
                    }
                }
            }
        }
    }

}
.road_map{
    padding-top:6rem;
    @include Flex(stretch, center);
    flex-direction: column;
    & > h1{
        text-transform: uppercase;
        font-weight: 700;
        & span{
            color:#ff5722;
        }
    }
    & > p{
        max-width:75%;
        width:100%;
        font-size:1.8rem;
        text-align: center;
        margin-bottom: 6rem;
        @media screen and (max-width:714px){
            max-width:95%;
            width:100%;
        }
    }
    & > ul{
        align-self: stretch;
        display:grid;
        padding:0 8rem;
        gap:2rem;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        @media screen and (max-width:1082px){
            padding:0 4rem;
        }
        & li{
            width:100%;
            box-shadow: .5rem 1rem 1rem rgba(0,0,0,.125);
            & .image{
                height:25rem;
                width:100%;
                & img{
                    width:100%;
                    height:100%;
                }
            }
            & .title_desc{
                padding:2rem 1rem;
                & .title{
                    @include Flex(stretch, center);
                   
                    & .icon{
                        margin-right:1rem;
                        & > *{
                            font-size:4rem;
                            color:#ff5722;
                        }
                        
                    }
                    & .title_text{
                        font-weight: bold;
                        font-size: 2rem;
                    }
                }
                & .desc{
                    color:grey;
                }
            }

        }
    }
}
section.about{
    @include Flex(stretch, center);
    flex-direction: column;
    padding:8rem 0 ;
   
    & > h1{
        margin-bottom:4rem;
        text-transform: uppercase;
        & span{
            color:#ff5722;
        }
    }
    & .container{
        align-self: stretch;
        padding:0 4rem;
        @include Flex;
        @media screen and (max-width:938px) {
        flex-direction: column;
        }
        & .one
        {
            flex:0 1 25%
        }
        & .two{
            flex:0 1 55%;
            margin-right:4rem;
            & > h2{
                font-size:2rem;
                color:#ff5722; 
                text-transform: uppercase;
                &:last-of-type{
                    margin-top: 2rem;;
                }
            }
            & ul{
                & li{
                    font-size: 1.4rem;
                    @include Flex(stretch, center);
                    margin-bottom:1rem;
                    & .done{
                        color:#ff5722;
                        font-size:2rem;
                        margin-right:.5rem;
                    }
                }
            }
            & p{
                font-size: 1.6rem;  
            }
        }
        & .three{
            flex: 0 1 45%;
            & > h1{
                font-size:2rem;
                color:#ff5722;
                
            }
            & ul{
                & li{
                    font-size: 1.4rem;
                    @include Flex(stretch, center);
                    margin-bottom:1rem;
                    & .done{
                        color:#ff5722;
                        font-size:2rem;
                        margin-right:.5rem;
                    }
                }
            }
        }
    }
}
section.teams{
@include Flex(stretch, center);
flex-direction: column;
background-color: #151515;
padding:6rem 0;
color:#fff;
margin-top:7rem;
& > h1{
    & span{
        color:#ff5722;
    }
}
& > ul{
    align-self: stretch;
    width: 100%;
    padding:0 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:4rem;
    margin-top:4rem;
    & li{

        & .image{
            width:100%;
            height:30rem;
            position: relative;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            & img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
            & .social{
                position: absolute;
                width:100%;
                height:100%;
                background-color: rgba(0,0,0,.74);
                top:0;
                left:0;
                transform: translateY(-100%);
                transition: transform .5s;
                @include Flex(center, center);
                & > ul{
                    @include Flex;
                    & li{
                        width:5rem;
                        height:5rem;
                        border-radius: 50%;
                        border:1px solid #fff;
                        @include Flex(center, center);
                        & > *{
                            font-size: 2rem;
                        }
                        &:not(:last-child){
                            margin-right: 1rem;
                        }
                    }
                }
            }
            &:hover .social{
                transform: translateY(0);
            }
        }
        & .description{
            width:100%;
            @include Flex(stretch, center);
            flex-direction: column;
            padding:2rem 0;
            & p{
                font-size: 2rem;
                font-size: bold;
                margin-bottom: .2rem;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            & .field{
                text-align: center;
                font-size: 1.4rem;
                margin-bottom: .5rem;
                color:grey;
            }
            & span{
                color:#ff5722;
                text-transform: uppercase;
            }
        }

    }
}
}

section.cause{
    padding:8rem 0;
    @include Flex(stretch, center);
    flex-direction: column;
    margin-top: 4rem;
    background-color: #f2f2f2;
    & ul{
        align-self: stretch;
        width: 100%;
        padding:0 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap:4rem; 
        margin-top:4rem;
        & li{
            width:100%;
            height:40rem;
            position: relative;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            & img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
            & .content{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:rgba(0,0,0,.74);
                transform: translateY(-100%);
                transition: all .5s;
                @include Flex(center, center);
                flex-direction: column;
                & button{
                    width:50%;
                    height: 4rem;
                    border: 2px dotted #ff5722;
                    background: transparent;
                    color:#ff5722;
                    font-size: 1.4rem;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            & > p{
                position: absolute;
                width:100%;
                left:0;
                bottom:0;
                color:#fff;
                font-size: 1.8rem;
                padding:1.5rem;
                font-weight: bold;
                transform: translateY(100%);
                transition: transform .2s linear .5s;
            }
            &:hover .content{
                transform: translateY(0);
            }
            &:hover p{
                transform: translateY(0);
            }
        }
    }
}

// ----------underline----
.underline{
    @include Flex(stretch, center);
    & span{
        border-bottom:1px solid #ff5722;;
        display: inline-block;
        &:first-child{
            width:6rem;
        }
        &:nth-child(2){
            width:4rem;
            margin:0 2rem;
        }
        &:last-child{
            width:6rem;

        }
    }
}

// ---------Gallery------------
.gallery_show{
    background:#f2f2f2;
    padding:8rem 2rem;
    & > h1{
        text-align: center;
        margin-bottom: 4rem;
    }
    & .image_wrap{
        max-width:60rem;
        height:40rem;
        @media screen and (max-width:724px) {
            height:35rem; 
        }
        @media screen and (max-width:620px) {
            max-width:100%;
            width:100%; 
        }
        & img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
}

@keyframes animateHeader {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.4);
    }
}