.message{
    width:100%;
    @include Flex;
    padding:8rem 4rem;
    @media screen and (max-width:954px){
        flex-direction: column;
    }
    & .left{
        flex:0 1 55%;
        margin-right:4rem;
        @media screen and (max-width:954px){
            margin-right:0rem;
            margin-bottom:6rem;
        }
        & > h1{
            font-size:3rem;
            position: relative;
            margin-bottom:3rem; 
            & span{
                color:#ff5722;
            }       
        }
        & p{
            text-align: center;
            max-width:60rem;
            width:100%;
            padding:0 2rem;
            margin-bottom:2rem;
        }
        & .form_wrapper{
            width:100%;
            margin:0 auto;
            & form{
                @include Flex(stretch, flex-start);
                flex-direction: column; 
                & button{
                    width:100%;
                    height:6rem;
                    background: #ff5722;
                    border: 1px solid #ff5722;
                    cursor: pointer;
                }
                & .input_wrapper{
                    @include Flex(stretch, center);
                    width:100%;
                    & input{
                        flex:1;
                        &:first-child{
                            margin-right:1rem;
                        }
                    }
                }
                & input{
                    padding: 2.2rem 2.4rem;
                    // border-radius: 3rem;
                    border: 1px solid #f2f2f2;
                    margin-bottom:3rem;
                    font-size:1.6rem;
                    width:100%;
                    &:focus{
                        outline: 1px solid #ff5722;
                        
                    }
                }
                & textarea{
                    width:100%;
                    margin-bottom:2rem;
                    padding:2rem;
                    outline:none;
                    font-size:1.5rem;
                    border: 1px solid #f2f2f2;
                    &:focus{
                        outline: 1px solid #ff5722;
                    }
                }
            }
        }
    }
    & .right{
        flex:0 1 45%;
        & > h1{
            font-size:3rem;
            position: relative;
            margin-bottom:3rem; 
            & span{
                color:#ff5722;
            }       
        }
        & .quick_wrapper{
            border:1px solid #f2f2f2;
            padding:3rem;
            &> p{
                margin-bottom:2rem;
                font-size: 15px;
                color: #999;
            }
            & ul{
                @media screen and (max-width:954px){
                   padding-bottom:2rem;
                   &:not(:first-child){
                       padding-top: 2rem;
                   }
                }
                &:not(:last-child){
                    border-bottom: 1px solid #f2f2f2;
                }
                & h1{
                    font-size:2rem;
                    position: relative;
                    display: inline-block;
                    margin-bottom:.9rem;
                    &::after{
                        position: absolute;
                        content:"";
                        height:1px;
                        width:50%;
                        bottom:0;
                        left:0;
                        background: #ff5722;
                    }
                }
                & li{
                    @include Flex(stretch, flex-start);
                    margin-bottom:1rem;
                    font-size: 15px;
                   
                    color: #999;
                    & .icon{
                        color:#ff5722;
                        font-size: 2rem;
                        margin-right:.5rem;
                    }
                   
                    & p{
                        text-transform: lowercase;
                        & span{
                            color:#ff5722;
                            text-transform: capitalize;

                        }
                    }
                }
            }
        }
    }
  
}